@import "tailwindcss"; /* This one import replaces all others in v4 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar hiding */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom utilities */
@layer utilities {
  .loginGradient {
    @apply text-[#0179FE];
  }
  .input-class {
    @apply text-[16px] placeholder:text-[16px] rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  /* Sidebar */
  .sidebar {
    @apply sticky left-0 top-0 flex h-screen w-fit flex-col justify-between border-r border-gray-200 bg-white pt-8 text-white max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px];
  }

  .sidebar-logo {
    @apply text-[26px] font-bold  max-xl:hidden;
  }

  .sidebar-link {
    @apply flex gap-3 items-center py-1 md:p-3 2xl:p-4 rounded-lg justify-center xl:justify-start;
  }

  .sidebar-label {
    @apply text-[16px] font-semibold max-xl:hidden;
  }

  /* Mobile nav */
  .mobilenav-sheet {
    @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60;
  }

  /* Auth Form */
  .auth-form {
    @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
  }

  .form-item {
    @apply flex flex-col gap-1.5;
  }

  .form-label {
    @apply text-[14px] w-full max-w-[280px] font-medium text-gray-700;
  }

  .form-message {
    @apply text-[12px] text-red-500;
  }

  .form-btn {
    @apply text-[16px] rounded-lg border   font-semibold text-white;
  }

  .form-link {
    @apply text-[14px] cursor-pointer font-medium;
  }

  /* HeaderBox */
  .headerbox-subtitle {
    @apply text-[14px] lg:text-[16px] font-normal text-gray-600;
  }
}
